

:root {
  --moovie_main_color: #3191f7;
}

video {
  background: transparent;
  border-bottom: 1px solid transparent;
  display: block;
  outline: none!important;
}



/* *
{
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
} */

.moovie {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Arial;
  /* -webkit-transform-style: initial!important; */
  border-radius: 7px;
  outline: none!important;
}

.loadingv {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: hsla(0, 0%, 4.3%, 0.9);
  z-index: 5;
}

.loadingv p {
  color: white;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin-bottom: 68px;
}

.moovie_cuetime {
  display: none;
  background-color: #2b2b2b;
  position: absolute;
  margin-top: -17px;
  z-index: 9999;
  margin-left: 30px;
  font-size: 9pt;
  padding: 1px 5px 1px 5px;
  border-radius: 3px;
  left: 0px;
  transform: translate(14px, -3px);
  color: white;
}

.moovie_cuetime_small {
  top: -12px!important;
  margin-left: -19px!important;
  transform: translate(0px) !important;
}

.responsive_bar {
  position: absolute!important;
  width: 100%!important;
  left: -11px!important;
  top: -15px!important;
}

.labelformat {
  position: absolute;
  right: 22px;
  padding: 2px 5px 2px 6px;
  background-color: #686868;
  color: white;
  border-radius: 4px;
  margin-top: 1px;
  font-size: 7pt;
  letter-spacing: 1px;
  font-weight: bold;
}

.moovie_submenu {
  position: absolute;
  bottom: 11px;
  right: 26px;
  margin-bottom: 56px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 0px #242424;
  z-index: 5;
}

.moovie_submenu ul {
  list-style: none;
  padding: 0px;
  margin: 8px 0px 8px 0px;
  text-align: left;
}

.moovie_captionspot {
  color: white;
  position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 10%;
  pointer-events: none;
  text-align: center !important;
}

.moovie_caption {
  width: 55%;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  pointer-events: none;
  z-index: 0;
  
}


.caption_size {
  font-size: 17pt;
}

.moovie_submenu ul li {
  padding: 10px 14px 10px 14px;
  font-size: 10pt;
  width: 170px;
  margin: 0px 12px 0px 10px;
  border-radius: 2px;
  color: #515151;
}

.moovie_submenu ul li:hover {
  background-color: var(--moovie_main_color);
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
}

.moovie_submenu ul li:hover .labelformat {
  background-color: white;
  color: var(--moovie_main_color);
}

.option_submenu {
  position: absolute;
  right: 28px;
  font-weight: bold;
}

.poster_layer {
  outline: none!important;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.poster_center {
  position: relative;
  width: 100%;
  padding: 10px;
  color: white;
  transform: translate(-1.5%, -66%);
  top: 50%;
  text-align: center;
}

.poster_button {
  width: 61px;
  padding: 16px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  background-color: var(--moovie_main_color);
  box-sizing: border-box;
  pointer-events: none;
}

.poster_button:hover {
  opacity: 0.7;
  transition: all 0.2s ease;
}

.player__button {
  background: none;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 8px 11px 9px 11px;
  background-color: transparent;
  margin-right: 4px;
  border: 0px;
  border-radius: 4px;
}

.player__button:hover {
  transition: all 0.2s ease;
  background-color: var(--moovie_main_color);
  cursor: pointer;
}

.player__button img {
  width: 15px;
  position: relative;
  top: 2px;
  vertical-align: baseline;
}

.player_button_disabled {
  cursor: default!important;
  background-color: transparent!important;
}

.moovie_currentime {
  color: white;
  font-size: 11pt;
  padding-top: 10px;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__slider {
  width: 10px;
  height: 30px;
}

.topic_submenu {
  padding: 0px 0px 5px 0px !important;
  border-bottom: 1px dashed #e1e1e1 !important;
  width: auto !important;
  color: #797979 !important;
  font-weight: bold !important;
  background-color: transparent !important;
  margin-bottom: 9px !important;
  font-size: 9pt !important;
}

.moovie_controls {
  box-sizing: border-box;
  /* background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 11%, rgba(0,0,0,0.81) 100%); /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.81) 100%); /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 11%,rgba(0,0,0,0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cf000000',GradientType=0 ); /* IE6-9 */
  background-color: rgba(16, 34, 62, 0.6);
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 13px;
  z-index: 3;
  /* transform: translateY(100%) translateY(1px);
  transition:all .3s; */
}

.moovie:hover .moovie_controls {
  transform: translateY(0);
}

.moovie_progress {
  position: relative;
  display: flex;
  flex-basis: 100%;
  flex: 10;
  height: 33px !important;
  transition: height 0.3s;
  background-color: rgba(55, 112, 168, 0);
  cursor: pointer;
  top: 0px;
  margin-right: 11px;
  margin-left: 10px;
  overflow: hidden;
}

.moovie_progress_sound {
  position: relative;
  display: flex;
  flex-basis: 100%;
  flex: 10;
  height: 7px !important;
  transition: height 0.3s;
  background-color: rgba(233, 236, 239, 0.4);
  cursor: pointer;
  top: 15px;
  margin-right: 11px;
  margin-left: 10px;
}

.progress__filled {
  width: 0%;
  background: #3191f7;
  flex: 0;
  flex-basis: 0%;
  z-index: 2;
}

.progress__filled_buffered {
  width: 12%;
  background: #1d64ae;
  position: absolute;
  height: 12px;
  z-index: 1;
}

.opacity_svg {
  opacity: 0.4;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #f0ebeb;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}


/* 
** RANGE INPUT **
*/

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  /* margin: 0 5px; */
  z-index: 3;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  cursor: pointer;
  background-color: rgba(233, 236, 239, 0.4);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background-color: rgba(198, 198, 198, 0.4);
  border-radius: 1.3px;
}

input[type=range]::-webkit-range-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #3191f7;
  border: none;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #3191f7;
  border: none;
  cursor: pointer;
}


/* PROGRESS BAR */

progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
  margin-left: -11.5%;
  box-shadow: ;
  position: absolute;
  margin-left: 0px;
  top: 14px;
  border: 0px;
  z-index: 1;
  background-color: #b32c2c00;
}

progress::-webkit-progress-bar {
  background-color:transparent;
}

progress::-webkit-progress-value {
  background-color:white;
  opacity:0.3
}
progress::-moz-progress-bar {
  background-color:white;
  opacity:0.3
}



/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  background: var(--moovie_main_color);
  cursor: pointer;
  margin-top: -4.3px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}


/* 
** LOADING SCREEN ** 
*/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--moovie_main_color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

